{{page-title "EmberTest"}}

{{!-- The following component displays Ember's default welcome message. --}}
{{!-- <WelcomePage /> --}}
{{!-- Feel free to remove this! --}}
<h1>PeopleTracker</h1>
<PeopleList title="supp"/>

{{outlet}}